//-------------
//  variables
//-------------

// font size
$font-size:    21px
$line-height:  30px / $font-size * 1em

// content width
$normal-width: 640px
$narrow-coeff: 0.8
$narrow-width: $narrow-coeff * $normal-width

// indentation
$margin: 1.3 * $line-height

// responsiveness
$portrait-width:   320px
$landscape-width:  480px

// colors
$white: #fff
$black: #333
$blue:  #44a
$gray:  #ccc
$light_gray: #eee


//--------------
//  main style
//--------------

body
    // use readable font
    font-family: 'Iowan Old Style', Georgia, serif
    font-size: $font-size
    line-height: $line-height
    font-variant-numeric: oldstyle-nums

    // make font smaller on phones
    @media (max-width: $landscape-width)
        font-size: 0.9 * $font-size

    background: $white
    color: $black

// keep the links simple
a
    color: $blue
    text-decoration: none
    &:hover
        text-decoration: underline

// get rid of margins
blockquote, code, h1, h2, h3, h4, h5, h6, ol, p, pre, ul
    margin: 0

// make headings look like normal text with improved legibility
h1, h2, h3, h4, h5, h6
    text-rendering: optimizeLegibility
    line-height: $line-height
    font:
        weight: normal
        style: normal
        size: 1em

// style main title
h1
    $x: 28px
    font-size: $x / $font-size * 1em
    font-weight: bold
    padding:
        top: 40px / $x * 1em
        bottom: 10px / $x * 1em

// style section titles
h2
    font-weight: bold
    margin-top: $line-height
    padding:
        top: 0.64 * $line-height
        bottom: 0.36 * $line-height

// add vertical margins to remaining headings
h3, h4, h5, h6
    margin:
        top: 2 * $line-height
        bottom: $line-height

// leave blank line after block elements
header, ol, p, pre, ul
    margin-bottom: $line-height

// ...but not in nested lists
li
    ul, ol
        margin-bottom: 0

// style quotes
blockquote
    margin-right: $margin
    padding-left: $margin - 5px / $font-size * 1em
    border-left: 5px / $font-size * 1em solid $light_gray

    &.spline
        margin:
            top: -0.5 * $line-height
            bottom: -0.5 * $line-height

// use sane font for code
code
    font-family: Menlo, monospace
    font-size: 0.85 * $font-size

pre
    // add horizontal margins to code blocks
    padding:
        left: $margin
        right: $margin

    // use horizontal scroll if code is too wide
    overflow-x: auto
    code
        white-space: pre
        word-wrap: normal

// indent lists
ol, ul
    padding-left: 3ex

// ...and keep them simple
ul
    list-style-type: disc

// center images and make them responsive
img
    display: block
    margin-left: auto
    margin-right: auto
    max-width: 100%
    height: auto

// style horizontal line
hr
    margin: 0
    margin-top: $line-height
    padding-bottom: $line-height
    border: 0
    border-top: 1px solid $gray

// make address straight
address
    font-style: normal

// control the content width
#main-wrapper
    max-width: $normal-width

    &.narrow
        max-width: $narrow-width

    padding: 0 12px

    margin:
        top: $line-height
        bottom: 2 * $line-height
        left: auto
        right: auto

    // remove vertical margins on phones
    @media (max-width: $landscape-width)
        margin:
            top: 0
            bottom: 0

    & .narrow
        width: 80%

        // in portrait mode, make the narrow layout less narrow
        @media (max-width: $portrait-width)
            width: 90%

        margin:
            left: auto
            right: auto


//----------
//  hidden
//----------

.hidden-portrait
    @media (max-width: $portrait-width)
        display: none

.hidden-landscape
    @media (min-width: $portrait-width + 1px) and (max-width: $landscape-width)
        display: none

.hidden-elsewhere
    @media (min-width: $landscape-width + 1px)
        display: none


//------------------
//  helper classes
//------------------

.centered
    text-align: center

.hidden
    display: none

.inlined
    display: inline

.legible
    text-rendering: optimizeLegibility


//----------
//  rhythm
//----------

.rhythm
    background: url('img/rhythm-normal.png')
    @media (max-width: $landscape-width)
        background: url('img/rhythm-small.png')
